.exchange-slideshow{
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
   overflow: hidden;
   position: relative;
   
   
}

.exchange-slideshow::before,
.exchange-slideshow::after{
    height: 100px;
    width: 200px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0)100%);
    z-index: 2;
}

.exchange-slideshow::before{
    left: 0;
    top: 0;
}
.exchange-slideshow::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}



.exchange-card-styles{
    animation: slideshow 30s linear infinite ;
    
     display: flex;
    
}
.exchange-ul-style{
    list-style: none;
    
    

}


@keyframes slideshow {
    
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.navbar-style{
    list-style: none;
    margin-left: -45px;
    
   
}

.sidenavbar-item{
    height: 45px;
    width: 230px;
    border: 1px solid black;
    text-align: center;
    margin: 5px;
}
.header{
    margin-left: 42%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.arrow-price{
   width: 13px;                   
   margin-left: 10px;                     
   margin-top: -5px                    
}


