

.exchange-slideshow{
    box-shadow: 0 10px 20px -10px rgba(247, 125, 54, 0.555);
   overflow: hidden;
   position: relative;
   
   
}

.exchange-slideshow::before,
.exchange-slideshow::after{
    height: 100px;
    width: 110px;
    position: absolute;
    content: "";
    background: linear-gradient(to right, white 0%, rgba(255,255,255,0)100%);
    z-index: 2;
}

.exchange-slideshow::before{
    left: 0;
    top: 0;
}
.exchange-slideshow::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}



.exchange-card-styles{
    animation: slideshow 30s linear infinite ;
    
     display: flex;
    
}
.exchange-ul-style{
    list-style: none;
    
    

}


@keyframes slideshow {
    
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}




.header{
    color:white;
    background-color: #ffaa5b;
    height:70px;
    box-shadow: 0 10px 20px -10px rgba(0,0,0,0.2);
    font-family: 'Teko', sans-serif;

   
}

.arrow-price{
   width: 13px;                   
   margin-left: 10px;                     
   margin-top: -5px                    
}
.arrow-price1{
    width: 13px;                   
    margin-right: 10px;     
                      
 }
 .arrow-price3{
    width: 7px;                   
    margin-left: 10px;                     
    margin-top: -5px                    
 }
 .arrow-price4{
    width: 8px;                   
    margin-right: 10px;     
                      
 }


 .fade-in{
animation: fadeIn 2s linear infinite;
 }
 .fade-out{
    animation: fadeOut 3.5s linear infinite;
     }


 @keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1 ;
        
    }
    
 }
 @keyframes fadeOut{
    to{
        opacity: 0;
    }
    from{
        opacity: 1 ;
        
    }
    
 }

 .navbar-styles{
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5px;
    font-weight: 600;
 }


 .converter-style{
    border: 1.5px solid #ffaa5b;
    height: 330px;
    border-radius: 7px;
    width: 320px;
    margin-left: -30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
 }
 
 